<%- include("partials/header"); -%>
   <div class="container-fluid home-body home-body-bg"> 
    <main id="intro-content" class="container my-2">
        <h1>Welcome To <span id="postoblog">Techie Folio</span></h1>
        <h4>See what people are writing and <a href="/compose">compose</a> your own posts.</h4> 
    </main>

   
        <% newPost.forEach(function(post){ %>
            <div class="card post-box">
                <div class="post-img"> <img src="images/post_image.PNG" width="50%" height="100%" alt="no" style="margin-left:5%;"></div>
                <div class="post-text">
                <div class="card-body">
                    <h2 class="card-title post-title"> <a class="post-title"><%= post.title %></a></h2>
                    <h6 class="card-subtitle mb-2">  <em><%= "@" + post.account %></em> </a></h6>
                        <p class="card-text post-para"><%= post.description %></p>
                        <a class="btn rm-btn" href="/posts/<%=post._id%> " role="button">Read more</a>
                </div>
            </div>
            </div>
        <% }) %>
    </div>
   




  